@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;



    font-family: "Montserrat",sans-serif;
    color: #d9d9d9;
    font-size: 20px;
    line-height: 163%;
    letter-spacing: -0.02em;

    background-color: #121517;
}

h1,h2{
  font-weight: 800;
  margin: 0;
}

a{
  text-decoration: none;
  color: #d9d9d9;
  
}

ul,li{
  list-style: none; 

}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-gradient {
  background: linear-gradient(263.46deg, #237249 3.14%, #35C66B 87.2%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.title {
font-size: 80px;
line-height: 88px;
letter-spacing: -0.03em;
color: #FFFFFF;

}



.header {
  padding: 50px 0;
  
  .container{
    display: flex;
    align-items: baseline;
  }

		&__logo {
      font-weight: 800;
      font-size: 37px;
      letter-spacing: -0.03em;
    
		}

		&__nav {
      
		}

		&__nav-list {
      display: flex;
      margin: 0;
      padding: 0;
		}

		&__nav-item {
      margin: 0 0 0 95px ;
      
		}

		&__nav-link {
      
		}
}



.main {
}

.welcome {

		&__title {
      margin-bottom: 55px;

		}

		&__text {
      margin-bottom: 55px;

		}

		&__btns-wrapper {
      display: flex;
      gap: 15px;
		}

		&__img-wrapper {
		}

		&__img {
		}
}
.container {

}
.btn {
  padding: 20px 80px;
  background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
  border-radius: 83px;

font-weight: 640;
font-size: 24px;
letter-spacing: -0.02em;
color: #FFFFFF;


}

.link {
padding: 20px 55px;

background: #121517;
border: 1.02264px solid #DADADA;
border-radius: 83px;

letter-spacing: -0.03em;
color: #D9D9D9;
}

.stats {

		&__item {
		}

    &__num{
font-size: 62px;
letter-spacing: -0.03em;
color: #FFFFFF;
}

    &__num::after{
  content: "+";
background: linear-gradient(266.83deg, #237249 -46.81%, #35C66B 52.2%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;



}
}
