@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body{
    margin: 0;



    font-family: "Montserrat",sans-serif;
    color: #d9d9d9;
    font-size: 20px;
    line-height: 163%;
    letter-spacing: -0.02em;

    background-color: #121517;
}

h1,h2{
  font-weight: 800;
  margin: 0;
}

a{
  text-decoration: none;
  color: #d9d9d9;
  transition: opacity 0.3s;
}

button {
  transition: opacity 0.3s;
  border: none;
  cursor: pointer;
}

a:hover, button:hover{
  opacity: 0.9;
}


ul,li{
  list-style: none; 

}

p{
  margin: 0;
}


.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-gradient {
  background: linear-gradient(263.46deg, #237249 3.14%, #35C66B 87.2%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.title {
font-size: 80px;
line-height: 88px;
letter-spacing: -0.03em;
color: #FFFFFF;

}

.btn {
  padding: 20px 80px;
  background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
  border-radius: 83px;
  font-weight: 640;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  transition: transform 0.15s ease, box-shadow 0.15s ease, opacity 0.15s ease, filter 0.15s ease;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(53, 198, 107, 0.2);
  }
  }

.backlight {
  position: relative;
}

.backlight::before {
  content: "";
  position: absolute;
  left: 40px;
  top: 80px;
  z-index: -5;
  width: 140px;
  height: 140px; 
  border-radius: 100%;
  background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.55) 3.05%, rgba(53, 198, 107, 0.73) 40.73%);
  filter: blur(120px);
}

img {
 max-width: 100%;
}



.header {
  padding: 50px 0;
  
  .container{
    display: flex;
    align-items: baseline;
  }

		&__logo {
      font-weight: 800;
      font-size: 37px;
      letter-spacing: -0.03em;
    
		}

		&__nav {
      
		}

		&__nav-list {
      display: flex;
      margin: 0;
      padding: 0;
		}

		&__nav-item {
      margin: 0 0 0 95px ;
      
		}

		&__nav-link {
      
		}
}



.main {

}

.welcome {
  margin: 30px 0 0 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  &__desc {
    max-width: 575px;

  }

		&__title {
      margin-bottom: 55px;

		}

    		&__title {
      margin-bottom: 55px;
      position: relative;



		}

		&__text {
      margin-bottom: 55px;

		}

		&__btns-wrapper {
      display: flex;
      gap: 15px;
      margin-bottom: 55px;
		}

		&__img-wrapper {
      width: 500px;
      padding: 0 60px 0 0;
      position: relative;



      &.backlight::before {
        top: auto;
        bottom: 20px;
        left: 100px;
        width: 320px;
        height: 300px;
        opacity: 0.9;
      }

        &::after {
        content: "";
        width: 860px; 
        height: 620px;
        position: absolute;
        right: -230px;
        bottom: -195px;
        background-image: url("../images/icons/lines.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -10;
      }

}

		&__img {
		}

}

.link {
padding: 20px 55px;

background: #121517;
border: 1.02264px solid #DADADA;
border-radius: 83px;

letter-spacing: -0.03em;
color: #D9D9D9;
transition: transform 0.15s ease, box-shadow 0.15s ease, opacity 0.15s ease;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgb(0, 0, 0);
  }
}

.stats {
  display: flex;
  gap: 45px;

		&__item {
      width: 126px;
      line-height: 144%;
		}

    &__num{
font-size: 62px;
line-height: 109%;
letter-spacing: -0.03em;
color: #FFFFFF;
}

    &__num::after{
  content: "+";
background: linear-gradient(266.83deg, #237249 -46.81%, #35C66B 52.2%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
}

.benefits { 
  margin: 120px 0 0 0;


    &__badge {
      position: absolute;
      top: 15px;
      left: 15px;
    

      display: flex;
      justify-content: center; 
      align-items: center;


      width: 140px;
      height: 140px;

      z-index: 10;

      font-weight: 500;
      font-size: 32px;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;

      transform: translate(-50%, -50%);

      background: url("/images/icons/Star.svg") center center no-repeat;
      background-size: contain;
      filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.22));
    }

		&__container {
      max-width: 1030px;
      display: flex;
      justify-content: space-around;

      padding: 55px 0 25px 0;
      border-radius: 46px;
      background-color: #fff;

      &.backlight::before {
        top: 35px;
        left: -61px;
        width: 420px;
        height: 300px;
        opacity: 0.5;
      }

    }

		&__img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      &::before {
        content: "";
        display: block;
        width: 150px;
        height: 150px;

        border-radius: 100%;
        background: linear-gradient(267.2deg, #237249 3.05%, #35C66B 75.72%);
        box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.39);


      }
		}



		&__icon {
      width: 146px;

      position: absolute;
      z-index: 5;
		}

    &__item{
      max-width: 220px;
      text-align: center;
    }

    &__icon--money{
      width: 210px;  
    }

 &__icon--heart{
      top: calc(50% - 90px);
      left: calc(50% - 66px);
    }

    &__icon--rocket{
      width: 220px;
    }

		&__title {
      margin: 15px;
      font-weight: 500;
      font-size: 32px;
      line-height: 52px;
      letter-spacing: -0.02em;
      color: #121517;
}

		&__desc {
      font-size:20px;
      line-height: 33px;
      letter-spacing: -0.02em;
      color: rgba(18, 21, 23, 0.9);
}

}


.history {
  margin: 120px 0  0;
  padding: 0 0 25px 0;

		&__img-wrapper {
      position: relative;

		}

    &__img-wrapper::before {

      content: "";

      position: absolute;
      top: 20px;
      left: -35px;
      height: 100%;
      width: 100%;
      clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
      background: #237249;
		}


    .container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
}

		&__img {
      box-shadow: -14px 26px 65px rgba(0, 0, 0, 0.39);
      width: 465px;
      clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
		}
    
    &__text{
      margin: 0 0 65px 0;
    }

		&__title {
      position: relative;
      margin: 0 0 60px 0;
      
      &.backlight::before {
        content: "";

        top: -40px;
        left: 130px;
     
        width: 350px;
        height: 250px;
        opacity: 0.3;
      }
		}

		&__desc {
      max-width: 460px;
      position: relative;

      	&::before {
        content: "";
        width: 920px; 
        height: 670px;
        position: absolute;
        right: -145px;
        bottom: -290px;
        background-image: url("../images/icons/lines.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -10;

        transform: rotate(37deg);
      }
      
		}
		&__pic {
     clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
		}
  }

  .products {
    margin: 100px 0 0 0;

		&__text {
      display: flex;
      align-items: center;
      gap: 70px;
      margin: 0 0 65px 0;
		}

		&__title {
      width: 400px;


       &.backlight::before {
        content: "";

        top: -40px;
        left: 110px;
     
        width: 380px;
        height: 250px;
        opacity: 0.2;
      }

		}

		&__desc {
       width: 450px;
		}

		&__cards {
      display: flex;
     justify-content: space-between;
		}
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 270px;
  padding: 50px 30px 30px;
  text-align: center;

  background: transparent;
  border-radius: 30px;
  z-index: 0;

  &::before, &::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 30px;

  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
                linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  z-index: -1;
  transition: opacity 0.35s ease;
}

&::before {
  background: linear-gradient(
    120deg,
    rgba(218, 218, 218, 1) 0%,
    rgba(218, 218, 218, 0.07) 42%,
    rgba(218, 218, 218, 1) 100%
  ) border-box;

  opacity: 1;
}

&::after {
  background: linear-gradient(
    120deg,
    #237249 0%,
    rgba(218, 218, 218, 0.07) 42%,
    #35C66B 100%
  ) border-box;

  opacity: 0;
}

&:hover::before {
  opacity: 0;
}

&:hover::after {
  opacity: 1;
}


  &:hover .card__img{
    transform: translateY(-5px);
  }

		&__img--wrapper {
      position: relative;
      margin: 0 0 30px 0;

      &::before {
      content: "";
      display: inline-block;
      width: 190px;
      height: 190px;
      border-radius: 100%;;

      }
		}

		&__img {
      width: 185px;
     position: absolute;
     top: -35px;
     left: 0;
     transition: transform 0.3s;
     filter: drop-shadow(0px 4px 46px rgba(0, 0, 0, 0.48)); 
		}

		&__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 163%;
      color: #FFFFFF;
      margin: 0 0 10px 0;
		}

		&__desc {
      margin: 0 0 15px 0;
      flex-grow: 1;
    
		}

		&__row {
      display: flex;
      gap: 35px;
      justify-content: center;
      align-items: flex-end;
      margin: 0 0 30px 0;
		}

		&__price {
      font-weight: 500;
      font-size: 32px;
      color: #FFFFFF;
		}

		&__size {
		}

		&__btn {
      width: 100%;
      font-size: 17px;
      padding: 15px 0px;
		}

}

